<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://wlada.github.io/vue-carousel-3d/js/vue-carousel-3d.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/homepage.css">

    <title>Jo Mac Hair Stylist</title>
</head>
<body>
<div id="homepage">
    <center><img src="images/logo.png"></center>
    <carousel-3d :controls-visible="true" :clickable="true" :display="6" :width="400" :height="800">
        <slide class="gradient" v-for="(slide, i) in slides" :index="0">
            <figure>
                <img src="images/jo.png">
                <figcaption>
                    <h2>About Me</h2>
                    I come to you at a time that suits you.
                    Personal service.
                    Advice from a stylist with over 2 decades of experience including cruise ships.
                    Professional Hair training.
                    Work place hair.
                    Advice and supply of the correct products.
                </figcaption>
            </figure>
        </slide>
        <slide class="gradient" v-for="(slide, i) in slides" :index="1">
            <figure>
                <img src="images/IMG_3289.JPG">
                <figcaption>
                    <h2>Styling</h2>
                    <ul>Cut and Blow £20</ul>
                    <ul>Blow dry £15</ul>
                    <ul>Cut £15</ul>
                    <ul>Curly blow dry £15</ul>
                    <ul>Wanding/GHD curls £15</ul>
                </figcaption>
            </figure>
        </slide>
        <slide class="gradient" v-for="(slide, i) in slides" :index="2">
            <figure>
                <img src="images/IMG_3289.JPG">
                <figcaption>
                    <h2>Colour</h2>
                    *All colour treatments require skin test at least 24-48 prior to application
                    <ul>Tint from £35</ul>
                    <ul>BalayageH/L £45</ul>
                    <ul>H/L head foils £50</ul>
                    <ul>H/L half head foils £40</ul>
                    <ul>H/L T section foils £35</ul>
                    <ul>H/L &amp; base colour please add £10 to the above price</ul>
                    <ul>Semi Permanent £30</ul>
                    <ul>Colour correction/ Colour stipping from £60</ul>
                </figcaption>
            </figure>
        </slide>
        <slide class="gradient" v-for="(slide, i) in slides" :index="3">
            <figure>
                <img src="images/IMG_3289.JPG">
                <figcaption>
                    <h2>Extensions</h2>
                    *excludes blow dry application only
                    <ul>Micro weft £15 per row</ul>
                    <ul>Sewn in weft</ul>
                    <ul>Individual mico/nano rings from £30</ul>
                </figcaption>
            </figure>
        </slide>
        <slide class="gradient" v-for="(slide, i) in slides" :index="4">
            <figure>
                <img src="images/IMG_3289.JPG">
                <figcaption>
                    <h1>Experience</h1>
                    Over 2 decades of styling experience from
                    working on Cruise ships to salons to
                    teaching. UK Winner of
                    the prestigious
                    Revlon Professional The Style Master 2015
                    competition.
                    See:
                    <a href="http://www.stylemasters.com/contest/en/
                    previous-editions/style-master-2015">http://www.stylemasters.com/contest/en/
                        previous-editions/style-master-2015</a>
                </figcaption>
            </figure>
        </slide>
        <slide class="gradient" v-for="(slide, i) in slides" :index="5">
            <figure>
                <img src="images/IMG_3289.JPG">
                <figcaption>
                    <h1>Contact Me</h1>
                    To make a booking contact me at:
                    <ul>07502261803</ul>
                    <ul>dizzyjo@live.co.uk</ul>
                </figcaption>
            </figure>
        </slide>
    </carousel-3d>
</div>

<script>
    new Vue({
        el: '#homepage',
        data: {
            slides: 1
        },
        components: {
            'carousel-3d': Carousel3d.Carousel3d,
            'slide': Carousel3d.Slide
        }
    })

</script>
</body>
</html>
